a {
  outline: none;
}

#bpi_search_filter {
  background-color: #EEE;
  float: left;
  width: 20%;
}

#bpi_search_filter fieldset {
  border: none;
}

#bpi_search_filter, #bpi_nodes {
  outline: 1px solid #CCC;
}

.clear {
  clear: both;
}

#bpi_nodes, .node_col, .node_controls div, #bpi_edit_node .l_col, #bpi_edit_node .r_col {
  float: left;
}

.node_controls .ajax-progress {
  display: none;
}

#bpi_edit_node .l_col_node_body {
  width: 68%;
}

#bpi_edit_node .r_col_node_teaser {
  margin-left: 5px;
  width: 30%;
}

#bpi_edit_node .node_images img {
  border: 1px solid #CCC;
  float: left;
  height: 128px;
  margin: 5px;
  width: 128px;
}

#bpi_edit_node .node_info .l_col, #bpi_edit_node .node_info .r_col {
  width: 50%;
}

#bpi_edit_node .node_images, #bpi_edit_node .node_info {
  border: 1px solid #CCC;
}

#bpi_nodes {
  width: 79%;
  margin-left: 1px;
}

.well_node {
  width: 100%;
}

.well_node hr {
  border-top: 1px solid black;
  margin: 20px 0 10px 20px;
  width: 95%;
}

.well_node>* {
  margin-left: 20px;
}

.node_col {
  width: 30%;
}

.node_controls div {
  background-color: #CCC;
  border: 1px solid black;
  cursor: pointer;
  margin-left: 10px;
  padding: 2px;
}

.ui-dialog {
  width: auto !important;
}

span.updated {
  color: red;
}

span.new {
  color: green;
}

div.filters div.flag_filter {
  float: left;
}

.dropdown {
  position: relative;
}

.dropdown .flags_container {
  background-color: #FFFFAA;
  border: 1px solid black;
  bottom: 0;
  height: 16px;
  overflow: hidden;
  padding: 1px;
  position: absolute;
  top: -10px;
  width: 58px;
}

.flags_container .flags, .flags_container .indicator, .flags_container .flags .flag img {
  float: left;
}

.flags_container .indicator {
  margin-left: 10px;
  height: 16px;
  width: 16px;
  
  background-image: url('../img/dd_arrow.gif');
}

.flags_container .active {
  background-image: url('../img/dd_arrow.gif');
  background-position: 0 16px;
}